.rule{border-bottom: 1px dotted #ccc;width: 960px;margin:1em auto;}
.hp_story_list {width: 920px;padding: 20px;background-color: #FFF;margin:0 auto;}
/* 新增 style 請從這行以下開始，上面是初始化設定請勿修改 */
ul li{
    float: left;
    width:20%;
    position: relative;
    border: 2px solid black;
    height: 110px;
    padding:10px;
    margin: 0 2px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    text-indent:20px
}
ul li:before, ul li:after{
    height: 0px;
    left: 3px; 
    content: ""; /* 必須指定，才能顯示內容 */    
    position: absolute; /* 必須指定，否則會變梯形 */ 
    width: 0px; 
    border-width: 20px; 
    border-style: solid solid solid solid; 
}
ul li:before{
    border-color: #888888 transparent transparent; 
    bottom: -40px; 
}
ul li:after{
    border-color: #fff transparent transparent; 
    bottom: -38px;   
}
.title, .author, .cover-border{
    position: absolute; 
    text-indent:0px;
    bottom: 0;
    font-style: initial;
    transform: translateY(62px);
}
.title{
    font-weight: bolder;
    text-decoration: none;
    color: black;
    transform: translateY(42px);
    margin-left: 23px;
    font-size: 1rem;
}
li .author{
    font-size: 0.8rem;
    margin-left: 43px;
}
.cover-border{
    margin-right: 5px;
    margin-left: -12px;
}